#about
    padding-bottom: 50px
    .textboxx
        padding: 10px 0 55px
        h1
            font-size: 45px
            padding: 45px 0 15px
            font-weight: 700
        h4
            color: #969696
            padding-bottom: 50px
            font-size: 20px
        h2
            font-size: 25px
            font-weight: 600
        h3
            font-size: 30px
            font-weight: 700
            padding-bottom: 15px
        h2,h3,h6
            // padding-right: 35px

        h6
            font-size: 25px
            color: #969696
            line-height: 1.2
    .textboxtwo
        padding: 20px 0 55px
        h4
            font-size: 25px
            font-weight: 600
        h5
            font-size: 30px
            font-weight: 700
            padding-bottom: 15px
        p
            font-size: 25px
            color: #969696
            line-height: 1.2
    .imgbox
        position: relative
        img
            border-radius: 50%
            border: 8px solid #ebebeb
            width: 180px
            height: 180px
    .box
        .btn
            position: relative
            left: 80px
            // top: 40px
            color: #ffff
            font-size: 20px
            padding: 40px 55px
            border-radius: 50%
            background-color: #ffc800
            border-radius: 50%
            border: 8px solid #ebebeb
    .bottomline
        position: absolute
        left: 50%

        border-style: solid
        height: 100%
        border-right-color: #eaeaea
        border-right-width: 5px
    .row
        display: flex
        gap: 20px
        .emptycell
            flex: 1
        .text
            flex: 1
        .center
            width: auto

    .rowreversed
        flex-direction: row-reverse
