#about
    .textbox
        h1
            font-size: 45px
            padding: 45px 0 15px
            font-weight: 700
        h4
            color: #969696
            padding-bottom: 50px
            font-size: 20px
        h2
            font-size: 25px
            font-weight: 600
        h3
            font-size: 30px
            font-weight: 700
            padding-bottom: 15px
        h6
            font-size: 25px
            color: #969696
            line-height: 1.2