header
    padding: 20px 0
    background-color: #212529
    .imgbox
        width: 200px
        height: 200px
    nav
        a
            font-size: 20px
            color: #8c8999
            margin-right: 30px
            padding-bottom: 50px
