header
    position: fixed
    padding: 30px 0
    background-color: #212529
    width: 100%
    .imgbox
        width: 150px
        height: 20px
    nav
        a
            font-size: 20px
            color: #aeaeb0
            margin-right: 30px
            
    @media screen and ( max-width: 768px )
        nav
            a
                display: none
