#website
    padding: 20px 0
    .ul
        display: flex
        flex-direction: row
        li
            font-size: 25px
            background-color: #ffff
            color: #000000
            border: 4px solid #ffffff
            margin: 0 15px
