#welcome
    background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg")
    background-position: center center
    background-size: cover
    height: 100vh

    .textbox
        color: #ffff
        .btn
            color: #ffff
            font-size: 25px
            padding: 15px 35px
            background-color: #ffc800
        h3
            padding: 170px 0 35px
            font-size: 35px
            font-weight: 400
        h4
            padding-bottom: 30px
            font-size: 75px
            font-weight: 800

    @media screen and ( max-width: 768px  )
        background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg")
        background-position: center center
        background-size: cover
        height: 150%
        width: 150%
        .textbox
            padding-top: 123px
            h3
                padding: 95px 0 25px
                font-size: 30px
                font-weight: 400
            h4
                font-size: 68px
            .btn
                color: #ffff
                font-size: 20px
                padding: 10px 30px
                background-color: #ffc800

    @media screen and ( max-width: 900px  )
        height: 160vh
        width: 100vw
    .textbox
        h3
            // padding: 40px 0 25px
            padding-bottom: 50px
            // padding-top: 50px
            font-size: 30px
            font-weight: 400
        h4
            font-size: 65px
        .btn
            color: #ffff
            font-size: 20px
            padding: 10px 30px
            background-color: #ffc800
